<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530468062811-rlhcrpp6qenthh1t5qmqi6dkfemjgg26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530468062811-rlhcrpp6qenthh1t5qmqi6dkfemjgg26</string>
	<key>API_KEY</key>
	<string>AIzaSyDPLoBiX3YT6Le1DNbPKsnE6qNCipOCSCM</string>
	<key>GCM_SENDER_ID</key>
	<string>530468062811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leilaabdel.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-af2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-af2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530468062811:ios:46e6b1e2e087b206f8217e</string>
</dict>
</plist>